apiVersion: keda.sh/v1alpha1
kind: ScaledJob
metadata:
  name: scaledjob-sample
spec:
  jobTargetRef:
    parallelism: 1
    completions: 1
    activeDeadlineSeconds: 600
    backoffLimit: 6
    template:
      ## template
  pollingInterval: 30
  successfulJobsHistoryLimit: 5
  failedJobsHistoryLimit: 5
  maxReplicaCount: 100
  triggers:
    - type: example-trigger
      metadata:
        property: example-property
