name: main-build
on:
  push:
    branches:
      - main
permissions:
  contents: read

jobs:
  build:
    name: build
    runs-on: ARM64
    permissions:
      contents: read
      packages: write
      id-token: write # needed for signing the images with GitHub OIDC Token **not production ready**

    # keda-tools is built from github.com/test-tools/tools/Dockerfile
    container: ghcr.io/kedacore/keda-tools:1.24.7
    steps:
      - name: Check out code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          fetch-depth: 1

      - name: Register workspace path
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - id: go-paths
        run: |
          echo "mod_cache=$(go env GOMODCACHE)" >> $GITHUB_OUTPUT
          echo "build_cache=$(go env GOCACHE)" >> $GITHUB_OUTPUT

      - name: Go modules cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ steps.go-paths.outputs.mod_cache }}
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}

      - name: Go build cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ steps.go-paths.outputs.build_cache }}
          key: ${{ runner.os }}-go-build-cache-${{ hashFiles('**/go.sum') }}

      - name: Go modules sync
        run: go mod tidy -compat=1.24

      - name: Test
        run: make test

      # https://github.com/sigstore/cosign-installer
      - name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Check Cosign install!
        run: cosign version

      - name: Login to GitHub Container Registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          # Username used to log in to a Docker registry. If not set then no login will occur
          username: ${{ github.repository_owner }}
          # Password or personal access token used to log in to a Docker registry. If not set then no login will occur
          password: ${{ secrets.GH_AUTOMATION_PAT }}
          # Server address of Docker registry. If not set then will default to Docker Hub
          registry: ghcr.io

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@c47758b77c9736f4b2ef4073d4d51994fabfe349 # v3.7.1

      - name: Publish main on GitHub Container Registry
        run: make publish-multiarch

      - name: Sign KEDA images published on GitHub Container Registry
        # This step uses the identity token to provision an ephemeral certificate
        # against the sigstore community Fulcio instance.
        run: make sign-images

      - name: Publish sha on GitHub Container Registry
        run: make publish-multiarch
        env:
          VERSION: ${{ github.sha }}

      - name: Sign KEDA images published on GitHub Container Registry
        # This step uses the identity token to provision an ephemeral certificate
        # against the sigstore community Fulcio instance.
        run: make sign-images
        env:
          VERSION: ${{ github.sha }}

  validate:
    needs: build
    uses: kedacore/keda/.github/workflows/template-main-e2e-test.yml@main
    secrets: inherit

  validate-arm64:
    needs: build
    uses: kedacore/keda/.github/workflows/template-arm64-smoke-tests.yml@main

  validate-s390x:
    needs: build
    uses: kedacore/keda/.github/workflows/template-s390x-smoke-tests.yml@main

  validate-k8s-versions:
    needs: build
    uses: kedacore/keda/.github/workflows/template-versions-smoke-tests.yml@main

  trivy-scan:
    needs: build
    permissions:
      contents: read
      security-events: write
    uses: kedacore/keda/.github/workflows/template-trivy-scan.yml@main
    with:
      runs-on: ubuntu-latest
      scan-type: "fs"
      format: "sarif"
      exit-code: 0
      publish: true

  trivy-scan-metrics-server:
    needs: build
    permissions:
      contents: read
      security-events: write
    strategy:
      matrix:
        runner: [ARM64, ubuntu-latest]
    uses: kedacore/keda/.github/workflows/template-trivy-scan.yml@main
    with:
      runs-on: ${{ matrix.runner }}
      scan-type: "image"
      image-ref: ghcr.io/kedacore/keda-metrics-apiserver:main
      format: "sarif"
      exit-code: 0
      publish: true

  trivy-scan-keda:
    needs: build
    permissions:
      contents: read
      security-events: write
    strategy:
      matrix:
        runner: [ARM64, ubuntu-latest]
    uses: kedacore/keda/.github/workflows/template-trivy-scan.yml@main
    with:
      runs-on: ${{ matrix.runner }}
      scan-type: "image"
      image-ref: ghcr.io/kedacore/keda:main
      format: "sarif"
      exit-code: 0
      publish: true
