name: Master build
on:
  push:
    branches:
      - master
jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    # build-tools is built from ../../tools/build-tools.Dockerfile
    container: kedacore/build-tools:latest
    steps:
      - name: Check out code
        uses: actions/checkout@v1
        with:
          fetch-depth: 1

      # Disable cache until https://github.com/actions/cache/issues/12 is fixed
      # - name: Go modules cache
      #   uses: actions/cache@preview
      #   with:
      #     path: /go/pkg
      #     key: go-cache

      - name: Test
        run: make test

      - name: Build
        run: make build IMAGE_TAG=master

      - name: Publish
        run: helm init --client-only && make publish

      # - name: Publish helm
      #   run: make publish-edge-chart