name: e2e-on-pr-validation
on:
  pull_request:
    types:
      - opened
      - reopened
      - labeled
      - unlabeled

jobs:
  validate-e2e-labels:
    name: Check e2e labels
    runs-on: ubuntu-latest
    steps:
      - uses: docker://agilepathway/pull-request-label-checker:latest
        with:
          any_of: ok-to-merge
          repo_token: ${{ secrets.GITHUB_TOKEN }}
