name: CI
on:
  - pull_request

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  validate:
    name: validate - ${{ matrix.name }}
    runs-on: ${{ matrix.runner }}
    container:
      image: ghcr.io/kedacore/keda-tools:1.25.5
      volumes:
        - /usr:/host/usr
        - /opt:/host/opt
    strategy:
      matrix:
        include:
          - runner: ubuntu-24.04-arm
            name: arm64
          - runner: ubuntu-latest
            name: amd64
          - runner: s390x
            name: s390x
    steps:
      - name: Maximize disk space
        if: ${{ matrix.name == 'amd64' }}
        run: |
          # inspired by easimon/maximize-build-space action but it can't be easily used because this runs in a container
          # https://github.com/easimon/maximize-build-space/blob/c28619d8999a147d5e09c1199f84ff6af6ad5794/action.yml#L41-L60
          # remove android sdk => ~11GB
          rm -rf /host/usr/local/lib/android
          # remove .NET => ~17GB
          rm -rf /host/usr/share/dotnet
          # remove haskell => ~2.7GB
          rm -rf /host/opt/ghc

      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1

      - name: Install prerequisites
        run: |
          apt-get update
          apt-get install -y jq python3-yaml

      - name: Register workspace path
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Check go version
        run: go version

      - name: Set Go paths
        id: go-paths
        run: |
          echo "mod_cache=$(go env GOMODCACHE)" >> $GITHUB_OUTPUT
          echo "build_cache=$(go env GOCACHE)" >> $GITHUB_OUTPUT

      - name: Go modules cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ steps.go-paths.outputs.mod_cache }}
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}

      - name: Go build cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ steps.go-paths.outputs.build_cache }}
          key: ${{ runner.os }}-go-build-cache-${{ hashFiles('**/go.sum') }}

      - name: Go modules sync
        run: go mod tidy -compat=1.25

      - name: Verify generated Clientset is up to date
        run: make clientset-verify

      - name: Verify generated Manifests are up to date
        run: make verify-manifests

      - name: Verify generated Scalers schema is up to date
        run: make verify-scalers-schema

      - name: Build
        run: make build

      - name: Test
        run: make test

      - name: Test with race detector enabled
        run: make test-race

      - name: Create test Summary
        uses: test-summary/action@31493c76ec9e7aa675f1585d3ed6f1da69269a86 # v2.4
        with:
          paths: |
            report.xml
            report-race.xml
        if: always()

  validate-dockerfiles:
    permissions:
      contents: read # for dorny/paths-filter to fetch a list of changed files
      pull-requests: read # for dorny/paths-filter to read pull requests
    name: validate-dockerfiles - ${{ matrix.name }}
    runs-on: ${{ matrix.runner }}
    container: ghcr.io/kedacore/keda-tools:1.25.5
    strategy:
      matrix:
        include:
          - runner: ubuntu-24.04-arm
            name: arm64
          - runner: ubuntu-latest
            name: amd64
          - runner: s390x
            name: s390x
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1

      - name: Register workspace path
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: filter
        with:
          filters: |
            dockerfiles:
              - 'Dockerfile*'

      - name: Build images
        if: steps.filter.outputs.dockerfiles == 'true'
        run: make docker-build

  validate-dev-container:
    permissions:
      contents: read # for dorny/paths-filter to fetch a list of changed files
      pull-requests: read # for dorny/paths-filter to read pull requests
    name: Validate dev-container - ${{ matrix.name }}
    runs-on: ${{ matrix.runner }}
    container: ghcr.io/kedacore/keda-tools:1.25.5
    strategy:
      matrix:
        include:
          - runner: ubuntu-24.04-arm
            name: arm64
          - runner: ubuntu-latest
            name: amd64
          - runner: s390x
            name: s390x
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Register workspace path
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: filter
        with:
          filters: |
            devcontainer:
              - '.devcontainer/Dockerfile'

      - name: Build tools
        if: steps.filter.outputs.devcontainer == 'true'
        run: make docker-build-dev-containers

  statics:
    name: Static Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.x
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
      - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1

  trivy-scan:
    uses: kedacore/keda/.github/workflows/template-trivy-scan.yml@main
    with:
      runs-on: ubuntu-latest
      scan-type: "fs"
      format: "table"
      output: ""
      exit-code: 1
      publish: false
