name: CI
on:
  - push
  - pull_request

jobs:
  validate:
    name: Validate PR
    runs-on: ubuntu-latest
    # build-tools is built from ../../tools/build-tools.Dockerfile
    container: kedacore/build-tools:v2
    steps:
      - name: Check out code
        uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - name: Go modules cache
        uses: actions/cache@v1
        with:
          path: /go/pkg
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Verify Generated clientset is up to date
        run: make clientset-verify

      - name: Build
        run: make build

      - name: Test
        run: make test

  statics:
    name: Static Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
      - uses: actions/setup-go@v2-beta
        with:
          go-version: 1.15.1
      - name: Get revive
        run: go get -u github.com/mgechev/revive
      - uses: pre-commit/action@v1.0.1
      - name: Run go vet
        run: make govet
