name: Reusable workflow to run smoke tests on s390x

on:
  workflow_call:

jobs:
  smoke-tests-s390x:
    name: Validate k8s
    runs-on: s390x
    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 1

      - name: Setup Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version-file: 'go.mod'

      - name: Install prerequisites
        run: |
          apt update
          apt install curl make ca-certificates gcc libc-dev wget -y
        env:
          DEBIAN_FRONTEND: noninteractive

      - name: Install Kubernetes
        run: |
          go install sigs.k8s.io/kind@v0.29.0
          kind create cluster --name ${{ runner.name }} --image vishnubijukumar/kindest-node-s390x:v1.35.0
          kubectl -n kube-system set image daemonset/kindnet kindnet-cni=docker.io/vishnubijukumar/kindnetd:v20250512-s390x
          kubectl -n local-path-storage set image deployment/local-path-provisioner local-path-provisioner=docker.io/vishnubijukumar/local-path-provisioner:v1

          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/s390x/kubectl"
          chmod +x kubectl
          mkdir -p ~/.local/bin
          mv ./kubectl ~/.local/bin/kubectl
          kubectl version

      - name: Run smoke test
        run: make smoke-test

      - name: Upload test logs
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7
        if: ${{ always() }}
        with:
          name: smoke-test-logs ${{ inputs.runs-on }}-${{ inputs.kubernetesVersion }}
          path: "${{ github.workspace }}/**/*.log"
          if-no-files-found: ignore

      - name: Remove Kubernetes
        run: |
          kind delete cluster --name ${{ runner.name }}
        if: ${{ always() }}
        env:
          DEBIAN_FRONTEND: noninteractive
