name: Reusable workflow to run smoke tests on different k8s versions

on:
  workflow_call:

jobs:
  smoke-tests:
    name: ${{ matrix.arch }}
    strategy:
      fail-fast: false
      matrix:
        arch:
          - AMD64
          - ARM64
        kindVersion:
          - v1.34.3
          - v1.33.7
          - v1.32.11
        include:
          - arch: AMD64
            runner: ubuntu-latest
          - arch: ARM64
            runner: ubuntu-24.04-arm
    uses: kedacore/keda/.github/workflows/template-smoke-tests.yml@main
    with:
      runs-on: ${{ matrix.runner }}
      kubernetesVersion: ${{ matrix.kindVersion }}
      kindImage: kindest/node:${{ matrix.kindVersion }}
