name: Reusable workflow to run e2e tests on main branch

on:
  workflow_call:

jobs:
  e2e-tests:
    name: Run e2e test
    runs-on: ARM64
    # keda-tools is built from github.com/test-tools/tools/Dockerfile
    container: ghcr.io/kedacore/keda-tools:1.25.5
    concurrency: e2e-tests
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1

      - name: Register workspace path
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - uses: oNaiPs/secrets-to-env-action@ec46a22bfc9b37e014b627b3208b07eb8909ea0f # v1.5
        with:
          secrets: ${{ toJSON(secrets) }}

      - name: Scale cluster
        run: make scale-node-pool
        env:
          NODE_POOL_SIZE: 3

      - name: Run end to end tests
        env:
          AWS_RUN_IDENTITY_TESTS: true
          AZURE_RUN_WORKLOAD_IDENTITY_TESTS: true
          GCP_RUN_IDENTITY_TESTS: true
          ENABLE_OPENTELEMETRY: true
        run: make e2e-test

      - name: Delete all e2e related namespaces
        if: ${{ always() }}
        run: make e2e-test-clean

      - name: Scale cluster
        if: ${{ always() }}
        run: make scale-node-pool
        env:
          NODE_POOL_SIZE: 1

      - name: Upload test logs
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        if: ${{ always() }}
        with:
          name: e2e-test-logs
          path: "${{ github.workspace }}/**/*.log"
          if-no-files-found: ignore
