on:
  workflow_call:

jobs:
  validate-upgrade-build:
    name: Image generation
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build current version
      run : IMAGE_REPO=jorturfer make publish
      env:
        E2E_IMAGE_TAG: "${{ github.sha }}"

  validate-upgrade:
    needs: validate-upgrade-build
    name: ${{ matrix.kubernetesVersion }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          # Images are defined on every Kind release
          # See https://github.com/kubernetes-sigs/kind/releases
        - kubernetesVersion: v1.22
          kindImage: kindest/node:v1.22.0@sha256:b8bda84bb3a190e6e028b1760d277454a72267a5454b57db34437c34a588d047
        - kubernetesVersion: v1.21
          kindImage: kindest/node:v1.21.1@sha256:69860bda5563ac81e3c0057d654b5253219618a22ec3a346306239bba8cfa1a6
        - kubernetesVersion: v1.20
          kindImage: kindest/node:v1.20.7@sha256:cbeaf907fc78ac97ce7b625e4bf0de16e3ea725daf6b04f930bd14c67c671ff9
        - kubernetesVersion: v1.19
          kindImage: kindest/node:v1.19.11@sha256:07db187ae84b4b7de440a73886f008cf903fcf5764ba8106a9fd5243d6f32729
        - kubernetesVersion: v1.18
          kindImage: kindest/node:v1.18.19@sha256:7af1492e19b3192a79f606e43c35fb741e520d195f96399284515f077b3b622c
        - kubernetesVersion: v1.17
          kindImage: kindest/node:v1.17.17@sha256:66f1d0d91a88b8a001811e2f1054af60eef3b669a9a74f9b6db871f2f1eeed00

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Setup go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Helm install
      uses: Azure/setup-helm@v1
      
    - name: Create k8s ${{ matrix.kubernetesVersion }} Kind Cluster
      uses: helm/kind-action@v1.2.0
      with:
        node_image: ${{ matrix.kindImage }}

    - name: Show versions
      run: |
        echo "kubectl version:"
        kubectl version
        echo "helm version:"
        helm version

    - name: Install latest KEDA release
      run: |
        helm repo add kedacore https://kedacore.github.io/charts
        helm repo update
        helm install keda kedacore/keda --namespace keda --create-namespace --wait

    - name: Deploy workloads
      run: kubectl apply -f .github/assets/test-manifest.yml

    - name: Deploy current version
      run : IMAGE_REPO=jorturfer make deploy
      env:
        E2E_IMAGE_TAG: "${{ github.sha }}"

    - name: Redeploy workloads
      run: kubectl apply -f .github/assets/test-manifest.yml

    - name: Clean resources
      run: kubectl delete -f .github/assets/test-manifest.yml 
      if: always()
